---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">


    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Hector Orlando Fonseca Coronel</h1>
      <h2 class="text-1xl dark:text-white">
        <a href="Practico Zona Sur">Practico Zona Sur </a>|<a> Hab:593</a>|<a> Lib:11.197</a>
      </h2>
      <h3 class="text-1xl dark:text-white">
        <a
          href="tel:+595 981683160"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+595 981683160
        </a>
        |
        <a
          href="hectorfonseca@protonmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >hectorfonseca@protonmail.com</a
        >
      </h3>
    </div>

    <div id="experiencia" class="mb-6">
      <SectionTitle title="Experiencia Laboral" />

      <RowEntry
        description="Antiguedad:3 años 6 meses"
        name="2006-2009"
        title="ADM Naviera Chaco"
        subTitle="Cargo: Marinero"
      />

      <RowEntry
      description="Antiguedad:2 años 9 meses"
      name="2010-2012"
      title="Cargill S.A.C.I Paraguay"
      subTitle="Cargo: Marinero,Contramaestre"
    />

    <RowEntry
    description="Antiguedad:5 años 8 meses"
    name="2014-2019"
    title="Interbarge de Paraguay S.R.L"
    subTitle="Cargo: Marinero,Patron Baqueano,Practico Zona Sur"
  />

  <RowEntry
  description="Antiguedad:1 año"
  name="2020-2021"
  title="ATRIA Soluciones Logisticas"
  subTitle="Cargo: Practico Zona Sur"
/>

<RowEntry
description="Antiguedad:3 años"
name="2021-actual"
title="Naviera Yeruti S.A"
subTitle="Cargo: Practico Zona Sur"
/>
    </div>

    <div id="cursos" class="mb-6">
      <SectionTitle title="Cursos Realizados" />

      <RowEntry description="Realizado en la ENA,Valido hasta 05.03.2026" name="PBIP" />

      <RowEntry
        description="Realizado en la ENA,Valido hasta 12.03.2026"
        name="OPB"
      />


      <RowEntry
        description="Realizado en la ENA,Valido hasta 21.02.2025"
        name="ROR"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/hector-fonseca-07b28a33/" />
      </div>
  </body>
</html>
